@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #735858;
    color: #8d8d8d;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    line-height: 1.4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}
.title{
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 15px;
}

.terminal {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.output {
    padding-top: 20px;
    font-family: "Fira Code", monospace;
    white-space: pre-wrap;
    overflow-y: auto;
    flex-grow: 1;
    color: #87ebff;
}

.input-line {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.prefix {
    color: #ebebeb;
    font-weight: bold;
    margin-right: 6px;
}

#user-input {
    color: #ffffff;
    white-space: pre;
}

.cursor {
    color: #ffffff;
    font-weight: bold;
    animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

#terminal-input {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
